<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ca.liquidlabs.gtaskdemo"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Google Tasks Demo</name>

    <description>
        A Demo of Google Task using OAuth 2.0
    </description>

    <author href="http://liquidlabs.ca/" email="feedback@liquidlabs.ca">
        Liquid Labs Inc.
    </author>
	
	<gap:plugin name="ChildBrowser" />
		
	<icon src="icon.png" />	
	<icon src="icons/android/ldpi/ic_launcher.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />

	<access origin="*" />
	<preference name="phonegap-version" value="2.0.0" />
	<preference name="android-minSdkVersion" value="8" />
	<preference name="orientation"     value="default" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	
</widget>