/**
 * 	This is core styles lib file
 */

/*  Debug outlines using CSS * /
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
/* end of debug outlines */


.google-text-logo {
    font-weight: bold;
    text-shadow: 0px 1px 2px #333;
}

/* Google logo text colors */
.gl-g  { color:#326BE7; /* Original: 1851CE,  Lighter: 326BE7 */ } 
.gl-o1 { color:#FA1D00; /* Original: C61800,  Lighter: FA1D00 */ }
.gl-o2 { color:#FDC344; /* Original: FCB210,  Lighter: FDC344 */ }
.gl-g2 { color:#326BE7; /* Original: 1851CE,  Lighter: 326BE7 */ }
.gl-l  { color:#4ACF53; /* Original: 31B639,  Lighter: 4ACF53 */ }
.gl-e  { color:#FA1D00; /* Original: C61800,  Lighter: FA1D00 */ }

.header-menu-items.ui-controlgroup.ui-mini {
    /* overriding top margin on heared menu items */
    margin: -.2em 0 0 0;
}

#qt-listview-tasks li h5 {
    padding: 0;    
    min-height: 32px;
}


.task-item {
	background: #fff !important;
	border: none;
	border-bottom: solid 1px #e5e5e5 !important;
	padding: 5px 15px 5px !important;
}

.task-item h5 {
	color: #737373 !important;
}


.qt-user-notes {
    /* show user notes on certain functionality */
    font-size: xx-small;
    font-weight: normal;
    padding-top: 0.2em;
}


#qt-listview-info {
	margin-top: 3em;
}

.hide {
	display: none;
}
